* {
  padding: 0;
  margin: 0;
}
.container {
  width: 825px;
  margin: 0 auto;
  border: 5px solid #000;
}
h1 {
  background-color: #f7f7f7;
}
button {
  width: 100%;
  padding: 15px;
}
ul {
  padding-left: 25px;
}
button:hover {
  background-color: #000;
  color: #f7f7f7;
}
